:root {
  --font-accent: "Poppins", sans-serif;
  --font-heading: "Roboto", sans-serif;

  --bg-navy-dark: #2e323f;
  --bg-navy-med: #3b4050;
  --bg-navy-light: #6f737f;

  --color-light-grey: #c9c9c9;
  --color-off-white: #f3f3f3;

  --transition: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-accent);
  font-size: 21px;
  background-color: var(--color-off-white);
}

a {
  text-decoration: none;
  color: var(--color-off-white);
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

#home {
  min-height: 100vh;
  margin: 0 auto;
}

.nav {
  background-color: var(--bg-navy-med);
  padding: 0.25rem 0.75rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  color: var(--color-off-white);
  cursor: pointer;
}

.nav-toggle {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.title {
  font-family: var(--font-heading);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.nav-links {
  display: block;
  padding: 0.85rem 0;
  transition: var(--transition);
}

.nav-links:hover {
  color: var(--color-light-grey);
}

@media screen and (max-width: 328px) {
  .nav-toggle,
  .logo {
    font-size: 1.45rem;
  }
}

@media screen and (min-width: 800px) {
  a,
  .nav-links,
  .logo {
    color: var(--bg-navy-med);
  }

  .nav {
    background-color: transparent;
    padding: 0;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .links-container {
    height: auto !important;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    display: flex;
  }

  .nav-links {
    margin: 0 0.75rem;
    display: block;
  }

  .hero {
    width: 90%;
    margin: 0 auto;
  }
}
